:root { font: 20px/1.2 'Oswald', sans-serif;}

a {
    color: inherit;
    text-decoration: none;
}
.dropbtn {
  padding: 16px;
  font-size: inherit;
  font-family:inherit;
  border: none;
  text-decoration: none
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

a:hover {
  text-decoration: underline;
  color: #C71000
}


.genreType {
  font-size:20px;
  color:red
}

.subjectLinks {
  display:block;
  color: grey
}

.articleText {
  color: #474747;
  size: 20px;
  vertical-align: top;
  text-align:left
}

.center {
  margin-left: auto;
  margin-right: auto;
}


.readMore {
  border: 1px solid red;
  padding:5px;
}

.readMore:hover {
  background-color: red;
  color:white;
  text-decoration: none;
}

.articleTables {
  border-spacing: 0;
  border-collapse:collapse;
}


.authorName {
  color: black
}

.articlePicture {
  width: auto;
  height: auto;
  border-radius: 5px
}

.articleHeader {
    font-size: 20px;
  }

.articleDescription {
  font-size: 15px;
  color: grey
}

.articleAuthor {
  font-size:15px;
  color: black
}

.profilePicture {
  width: 80px;
  height:80px;
}

.titles {
font-size: 1rem;
}

.teamPicture {
  width:60px;
  height:60px
}


@media only screen and (max-width: 320px) {

   body {
      font-size: 2em;
   }

}
