:root { font: 20px/1.2 'Oswald', sans-serif;}

a {
    color: inherit;
    text-decoration: none;
}


a:hover {
  text-decoration: underline;
  color: #C71000
}


.genreType {
  font-size:15px;
  color:red
}

.subjectLinks {
  display:block;
  color: grey
}

.articleText {
  color: #474747;
  size: 20px;
  vertical-align: top;
  text-align:left
}

.center {
  margin-left: auto;
  margin-right: auto;
}


.articleTables {
  border-spacing: 0;
  border-collapse:collapse;
}

.authorName {
  color: black
}

.articlePicture {
  width: auto;
  height: auto;
  border-radius: 5px
}

.articleHeader {
    font-size: 20px;
  }

.articleDescription {
  font-size: 15px;
  color: grey
}

.articleAuthor {
  font-size:15px;
  color: black
}

.profilePicture {
  width: 80px;
  height:80px;
}

.titles {
font-size: 1rem;
}

.item5{
top:0;
width:100%;
position: sticky;
}
